$primary-color:  rgb(255, 109, 0);
$label-color: #555555;
$input-text-color: rgba(0, 0, 0, 0.87);
$input-border-color: rgba(0, 0, 0, 0.26);
$focus-border-color: rgb(33, 150, 243);
$error: rgb(255, 0, 0);
$asterisk: rgb(238, 51, 34);
$radio-color: #999;
$hover-color: #f1f1f1;
$radio-span: #26a69a;
$btn-color: #4caf50;
$highlight-color: #ffffff;
$switch-background: #9E9E9E;
$switch-active-bg: #fafafa;
$switch-label: #a5d6a7;
$switch-label-after: #4caf50;
$switch-disable-before: rgba(0, 0, 0, 0.12);
$switch-disable-after: rgb(189, 189, 189);
$switch-shadow-color1: rgba(0, 0, 0, 0.14);
$switch-shadow-color2: rgba(0, 0, 0, 0.098);
$switch-shadow-color3: rgba(0, 0, 0, 0.084);
$icon-label: rgba(0, 0, 0, 0.8);
$icon: rgba(0, 0, 0, 0.6);
$progress-border: #f3f3f3;
$progress-border-top: #ffa726;
$message-select: rgba(0, 0, 0, 0.7);
$message-color: rgba(0, 0, 0, 0.3);
$message-hover: rgba(255, 137, 0, .5);
$list-item: rgb(240, 130, 0);
$card-shadow1: rgba(0, 0, 0, 0.2);
$card-shadow2: rgba(0, 0, 0, 0.14);
$card-shadow3: rgba(0, 0, 0, 0.12);
$card-title-border: rgba(0, 0, 0, 0.15);
$card-title: #495867;
$dash-title: #000;
$load-bar: #fdba2c;
$bar1: #da4733;
$bar2: #3b78e7;
$item-color: rgba(0, 0, 0, 0.65);
$text-edit-focus: #2196F3;
$tab-title-color: rgba(0, 0, 0, .30);
$notifiction-content: rgb(128, 128, 128);
$notifiction-title: rgb(169, 169, 169);
$notifications: rgb(211, 211, 211);
$welcome-title: #4885ed;
$welcome-subtitle: rgba(0, 0, 0, 0.5);
$field: rgba(0, 0, 0, 0.4);
$info-header-border: rgba(138, 156, 167, .4);
$fleet-name: #9B9B9B;
$table-header: #757575;
$flat-btn: rgba(255, 109, 0, 0.7);
$flat-btn-hover: rgba(255, 109, 0, 0.2);
$flat-btn-txt: rgba(255, 109, 0, 0.9);
$fill-focus: #eee;
$foundation-primary: rgba(0, 0, 0, 0.5);


@mixin primary-background{
    background:  rgb(255, 109, 0);
}
