<!-- <div class="linear-background" *ngIf="profile">  
    <div class="body">
        <div class="divider-one"></div>
        <div class="lines" *ngFor="let line of lines"></div>
        <div class="divider-one" *ngFor="let divi of divider" style="margin-top:37px;top:90px;"></div> 
    </div>
</div>  -->

<div class="try" *ngIf="profile">  
     <div class="animate-inside" style="top:15px;left:12px;height:25px;width:400px"></div> 
     <div class="underline" style="top: 30px;height:2px"></div>
     <div class="animate-inside" style="top:42px;left:12px;height:25px;width:400px"></div> 
     <div class="animate-input" style="top:70px;left:15px">
         <div class="animate-inside" style="top:5px;left:5px;height:16px;width:200px"></div>
         <div class="underline" style="top:45px; height:1px; width:400px"></div>
     </div>

     <div class="animate-input" style="top:70px;left:65px">
         <div class="dash"></div>
     </div>
    <!-- <div class="body"> -->
        <!-- <div class="lines" style="top:10px"></div>
        <div class="divider-one"></div>
        <div class="lines" *ngFor="let line of lines" style="top:80px;margin-top:15px"></div>
        <div class="divider-one" *ngFor="let divi of divider" style="margin-top:37px;top:90px;"></div>  -->
    <!-- </div> -->
</div> 

<div class="table" *ngIf="table">
    <div *ngFor="let hour of hours_placeholder">
        <div class="table-loader-box">
            <div class="table-draw"></div>
        </div>
    </div>
</div>  

<div *ngIf="image">
    <p-dataGrid [value]="images">
        <ng-template let-image pTemplate="item" let-i='index'>
            <div class="image-loader-box">
                <div class="img-draw"></div>
            </div>
        </ng-template>
    </p-dataGrid>
</div> 

<div class="dash" *ngIf="dash"  ></div>
 <div class="icon" *ngIf="icon" style="top:100px;left:80px"></div>
  
  