.sidebar {
    height: 100%;
    width: 300px;
    z-index: 10;
    background: #ffffff;
    z-index: 1191;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    .icon {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #0ac;
        //background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 600px 104px;
        height: 36px;
        position: relative;
        width: 36px;
        border-radius: 50%;
    }

    .dash {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 600px 104px;
        height: 15px;
        position: relative;
        width: 120px;
        border-radius: 50px;

    }

    .underline {
        position: relative;
        height: 5px;
        width: 100%;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
    }

    .widget-icon {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: darkgray;
        //background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 600px 104px;
        height: 24px;
        position: relative;
        width: 24px;
        border-radius: 50%;
    }
}

.toolbar {
    /*background: #FF5800;*/
    background: linear-gradient(90deg,#70bf43 0,#0ac);
    z-index: 0;
    padding: 5px;
    height: 64px;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    z-index: 1190;
    .dash2 {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        height: 15px;
        position: relative;
        max-width: 120px;
        border-radius: 50px;
        margin-top: 20px;
        background: wheat;
    }

}
