@import "../common/common.scss";
.toolbar {
    /*background: #FF5800;*/
    background: linear-gradient(90deg,#70bf43 0,#0ac);
    padding: 5px;
    height: 64px;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    .material-icons {
        font-size: 24px;
        margin: 8px;
        cursor: pointer;
    }
    .title {
        font-size: 20px;
        font-weight: bold;
        margin-left: 12px;
    }
    .user-info {
        padding: 12px;
    }
    .name {
        font-size: 14px;
        color: white;
        font-weight: 700;
    }
    .email {
        font-size: 12px;
        color: white;
    }
    .avatar {
        max-width: 32px;
        max-height: 32px;
        margin: 5px;
        margin-right: 11px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }
    .popout {
        position: absolute;
        top: 64px;
        right: 8px;
        z-index: 9;
        min-width: 200px;
        min-height: 100px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        font-size: 14px;
        .user-info {
            padding: 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        }
        
    }
    .button {
        color: rgba(0, 0, 0, 0.7);
        background-color: #FFFFFF;
        span {
            display: inline-block;
            font-size: 24px;
            padding: 8px;
        }
    }
    .ripple {
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
            background-repeat: no-repeat;
            background-position: 50%;
            transform: scale(10, 10);
            opacity: 0;
            transition: transform .5s, opacity 1s;
        }
        &:active:after {
            transform: scale(0, 0);
            opacity: .2;
            transition: 0s;
        }
    }
    
}