:host {
    width: 100%;
}

.home {
    height: 100%;
    width: 100%;
    
}

.scrollable {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f1f1f1;
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
    }
}

ol {
    padding: 0px;
    margin: 0px;
}



.autocomplete-list {
    position: absolute;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.19);
    height: 250px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
    background: white;
    margin-left: 16px;
    margin-top: 80px;
}


.list {
    max-height: 300px;
    overflow-y: scroll;
}

div.ui-datatable-scrollable-body {
    overflow-y: scroll;
}
