:host {
    height: 100%;
}
  .app-header {
        
        
        .app-name-container {
            height: 64px;
            padding: 8px;
            .app-name {
                font-size: 20px;
                font-weight: bold;
                margin-left: 16px;
                color: lightslategrey;
            }
            .logo {
                width: 36px;
                height: 36px;
                margin: 5px;
                margin-left: 8px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        
    }

.sidebar {
    height: 100%;
    width: 300px;
    background: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    .header {
        padding: 16px 0 16px 0;
        border-bottom: .5px solid #f1f1f1;
        margin-bottom: 5px;
    }
    .app-header {
        height: 64px;
       
    }
    .logo {
           width: 169px;
    height: 39px;
    margin: 57px;
        object-fit: cover;
       
    }
    .app-name {
        font-size: 20px;
        font-weight: bold;
        margin-left: 16px;
        color: lightslategrey;
    }
    .header {
        .avatar {
            width: 48px;
            height: 48px;
            margin: 5px;
            object-fit: cover;
            border-radius: 50%;
            border: 0px solid #000;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            margin-left: 8px;
            margin-bottom: 8px;
        }
        .profile {
            font-size: 16px;
            padding-left: 8px;
            font-weight: bold;
            .subtitle {
                font-weight: normal;
            }
        }
    }
    .item {
        font-size: 14px;
        margin: 0;
        color: #fff;
        border-bottom: 1px solid #fff;
        height: 48px;
        vertical-align: middle;
        padding-left: 12px;
        color: rgba(0, 0, 0, 0.6);
        span {
            margin-left: 12px;
        }
    }
    
    .category {
        font-size: 18px;
        margin: 0;
        padding-left: 12px;
        color: rgba(0, 0, 0, 0.6);
    }
    a.item {
        text-decoration: none;
    }
    .item {
        &.active {
            background: #f1f1f1;
             color: #fff;
    border-bottom: 1px solid #fff;
            font-weight: bold;
            border-left: 4px solid rgb(240, 130, 0);
            padding-left: 8px;
            color: rgba(0, 0, 0, 0.8);
        }
        &.disabled{
            cursor: not-allowed;
        }
        &:hover:not(.disabled) {
            background: #f1f1f1;
            cursor: pointer;
        }
    }
}

.footer {
    border-top: 1px solid #f1f1f1;
    padding: 5px;
    font-size: 12px;
    .version {
        font-size: 12px;
        font-weight: 300;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    &:visited {
        text-decoration: none;
        font-weight: bold;
        color: inherit;
    }
}
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
body {
  margin-top:45px;
}
/*--------------------------------------------------------------------------
  Navbar Style
--------------------------------------------------------------------------*/
.navbar {
  border-bottom-left-radius:0; /*Change bootstrap default border-radius for menu*/
}
@media(min-width:768px) {
  .navbar .navbar-brand {
    width:224px; /*Change the width of .navbar-brand to center text and align with .sider-navbar border-right*/
    text-align: center;
  }
}
/*--------------------------------------------------------------------------
  Side Navigation
--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
  Profile container
  Thanks to keenthemes' bootstrap snippet for a starting point for the styles
  http://bootsnipp.com/snippets/featured/user-profile-sidebar 
--------------------------------------------------------------------------*/

.profile-userpic {
    text-align: center;
img {
  float: none;
    margin: 12px auto 0;
    /* padding: 66px; */
    width: 122px;
    height: 122px;
    margin: 10px auto;
    border-radius: 100% !important;
    margin-right: 93px;

}
i {
    text-align: center;
    margin-top: 16px;
    font-size: 80px;
}
}


.profile-usertitle {
  text-align: center;
  margin-top: 16px;
  color: #333333;
}

.profile-usertitle-name {
  font-size: 23px;
  font-weight: 600;
  margin-left: -7px;
  
}

.profile-usertitle-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: -1px;
}

/*Hide profile picture on smaller devices*/
@media(max-width:768px) {
  #profile {
    display:none;
  }
}

@media(min-width:768px) {
    #page-keeper {
      width: 100%;
      padding: 10px 10px 10px 225px;
    }
}