input[type=text],
input[type=number],
.ui-inputtext.ui-widget.ui-state-default.ui-corner-all {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: 0;
    width: 100%;
    height: 36px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
    &:focus {
        border-color: #2196F3;
        border-width: 2px;
        box-shadow: none;
    }
}

.input-label {
    text-align: left;
    font-weight: bold;
    color: #555555;
    margin-bottom: 5px;
}

.big-label {
    padding: 0 0 0 16px;
    font-weight: bold;
}

.input-group {
    padding: 16px;
}

.input-error {
    text-align: left;
    font-weight: bold;
    color: red;
    font-size: 14px;
}